@import "variables";
.site-header{
  font-weight: bold;
}
.navbar > .container .navbar-brand{
  display: flex;
  align-items: center;
  padding-right: 75px;
}
@media only screen and (max-width: 768px) and (min-width: 0px){
  .navbar > .container .navbar-brand{
    margin: 0;
    padding: 0;
    padding-left: 5px;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 768px)  {
  .navbar > .container .navbar-brand{
    padding: 0;
    width: 110px;
  }
  .navbar-nav > li{
    padding: 0;
    letter-spacing: 0;
  }
}
