$img-folder : '../../assets/images/';
$font-folder: '../../assets/fonts';
$active-color:#00bc9c;
$passive-color:#506a85;
$hover-color:#17a78b;
$bg-latest-work:#f2f5f7;
$text-slider-color:#a9a4ac;
$text-main-color:$passive-color;
$text-additional-color: #73879c;
$footer-bg: #2f4052;
$footer-text-color:#a3b1bf;
